body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outer{
    font-size: 100px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.count{
    width: 80%;
    height: 50%;
    border-radius: 20px;
    text-align: center;
    padding: 50px;
    background-color: red;
}

.counter{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.add, .sub{
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add{
    background-color: green;
}

.sub{
    background-color: red;
}