* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-areas: 'box1 box1 box1 box1 box1'
    'box3 box2 box2 box4 box4'
    'box3 box2 box2 box4 box4'
    'box3 box5 box5 box5 box5'
    'box3 box5 box5 box5 box5'
    ;
}

.box
{
    height: 100%;
    /* width: 50vw; */
}

.box1{
    background-color: #ABC7F0;
    grid-area: box1;
    
}

.box2{
    background-color: #A97878;
    grid-area: box2;
}

.box3
{
    background-color: #93C482;
    grid-area: box3;
}

.box4{
    background-color: #C4B95B;
    grid-area: box4;
}

.box5{
    background-color: #D067D2;
    grid-area: box5;
}